node_modules
.next
.DS_Store
*.local
.env
.env.*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea
.vscode/*
!.vscode/settings.json
# Firebase
firebase-debug.log
*.firebase.*.log
# Patch package
patches/
# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
terraform.tfvars
